@import url(font/stylesheet.css);
html, body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

header.header {
  background-image: url("../image/header/header.png");
  padding-bottom: 205px; }
  header.header .header_menu {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 100;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px); }
    header.header .header_menu .header_container {
      padding: 26px 15px 20px 15px;
      margin: 0 auto;
      max-width: 1153px;
      display: flex;
      align-items: center; }
      header.header .header_menu .header_container a {
        color: #fff; }
      header.header .header_menu .header_container .logo {
        display: flex;
        column-gap: 17px;
        text-align: left;
        flex: 1; }
        header.header .header_menu .header_container .logo > img:nth-of-type(1) {
          border: 1px solid #fff;
          border-radius: 50%;
          width: 31px;
          height: 42px;
          padding: 12px 17.68px 12px 17.68px;
          background-color: #fff; }
      header.header .header_menu .header_container .header_nav {
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
        column-gap: 30px; }
        header.header .header_menu .header_container .header_nav > li > a {
          font-family: 'RF Dewi';
          font-style: normal;
          font-weight: 600;
          font-size: 18.1289px;
          line-height: 129.19%;
          text-align: center; }
      header.header .header_menu .header_container .menu_icon {
        display: none; }
      header.header .header_menu .header_container .header_bit {
        flex: 1;
        text-align: right;
        font-family: 'RF Dewi';
        font-weight: 700;
        font-size: 18.1289px;
        line-height: 129.19%; }
  header.header .header_content {
    max-width: 1347px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    padding-top: 265px; }
    header.header .header_content .header_content_title {
      font-family: 'RF Dewi Expanded';
      font-style: normal;
      font-weight: 700;
      font-size: 45.3221px;
      line-height: 129.19%;
      text-align: center;
      margin-bottom: 24px; }
    header.header .header_content .header_content_cleo {
      font-family: 'RF Dewi';
      font-style: normal;
      font-weight: 600;
      font-size: 20.395px;
      line-height: 129.19%;
      text-align: center;
      margin-bottom: 36px; }
    header.header .header_content .header_content_bit {
      max-width: 537px;
      display: flex;
      column-gap: 28px;
      align-items: center;
      margin: 0 auto; }
      header.header .header_content .header_content_bit > button {
        font-family: "RF Dewi Expanded";
        font-weight: 700;
        font-size: 18.1289px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        background-color: #fff;
        border: 1px solid #fff;
        padding: 18px 29px; }
      header.header .header_content .header_content_bit > p {
        font-family: "RF Dewi Expanded";
        font-weight: 700;
        font-size: 18.1289px;
        line-height: 22px;
        text-align: center; }
      header.header .header_content .header_content_bit > a {
        display: none; }

.main .main_about_us {
  background-image: url("../image/main/about_us/bacground.png");
  mix-blend-mode: difference;
  background-color: #404040;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  color: #fff;
  padding-top: 45px;
  font-family: "RF Dewi Expanded";
  padding-bottom: 116px; }
  .main .main_about_us .about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 139px; }
.main .about_us_left {
  max-width: 507px; }
  .main .about_us_left img {
    object-fit: contain; }
.main .about_us_right {
  max-width: 565px; }
  .main .about_us_right h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 129.19%; }
  .main .about_us_right p:nth-of-type(1) {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-right: 2px; }
  .main .about_us_right p:nth-of-type(2) {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    opacity: 0.6; }
.main .main_about_us_plus {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }
.main .main_about_us_plus_left .main_about_us_plus_left_title {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 36px; }
.main .main_about_us_plus_left > div {
  display: flex;
  column-gap: 23px;
  align-items: center; }
  .main .main_about_us_plus_left > div > div {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #00BF63; }
  .main .main_about_us_plus_left > div > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
    max-width: 379px; }
.main .main_about_us_plus_left > div:nth-of-type(1) {
  margin-bottom: 36px; }
.main .main_about_us_plus_left > div:nth-of-type(2) {
  margin-bottom: 24px; }
.main .main_about_us_plus_left > div:nth-of-type(3) {
  margin-bottom: 54px; }
.main .main_about_us_plus_left .main_about_us_plus_left_consult > button {
  font-weight: 700;
  font-size: 16px;
  line-height: 157.4%;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 13.5px 21px;
  border: 1px solid #fff;
  color: #fff; }
.main .main_about_us_plus_left .main_about_us_plus_left_consult > a {
  font-weight: 700;
  font-size: 16px;
  line-height: 157.4%;
  color: #fff; }
.main .main_about_us_plus_right > img {
  max-width: 694px; }
.main .main_our_advantages {
  background-image: url("../image/main/our_advantages/advantage.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #404040;
  mix-blend-mode: hard-light;
  font-family: "RF Dewi Expanded";
  color: #fff;
  padding-bottom: 105px; }
  .main .main_our_advantages .main_our_advantages_block {
    max-width: 1023px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; }
    .main .main_our_advantages .main_our_advantages_block .main_our_advantages_block_title {
      font-weight: 700;
      font-size: 45px;
      line-height: 129.19%;
      text-align: center;
      padding-top: 66px;
      margin-bottom: 25px; }
    .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(6px);
      border-radius: 42px;
      padding: 54px 40px 44px 39px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 44px 0; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont > div:nth-of-type(2) > img {
        padding: 15px;
        background-color: #2BE3A0; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont > div:nth-of-type(3) > img {
        padding: 14px;
        background-color: #2BE3A0; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont > div:nth-of-type(4) > img {
        padding: 14px 17px;
        background-color: #FFBF44; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont > div:nth-of-type(5) {
        max-width: 256px; }
        .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont > div:nth-of-type(5) > img {
          padding: 14px;
          background-color: #FFBF44; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont > div:nth-of-type(6) > img {
        padding: 14px;
        background-color: #FFBF44; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont .main_our_advantages_cont_card {
        max-width: 236px; }
        .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont .main_our_advantages_cont_card > img {
          margin: 0 auto;
          display: block;
          border-radius: 12px; }
        .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont .main_our_advantages_cont_card > p {
          font-family: "RF Dewi";
          font-weight: 600;
          font-size: 16px;
          line-height: 157.4%;
          text-align: center;
          padding-top: 18px; }
.main .main_reviews {
  background-image: url("../image/main/reviews/image 263.png");
  mix-blend-mode: difference;
  background-color: #404040;
  color: #fff;
  padding-bottom: 138px; }
  .main .main_reviews .main_reviews_title {
    font-family: "RF Dewi Expanded";
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    padding: 102px 0 56px 0; }
  .main .main_reviews .main_reviews_cont {
    max-width: 1070px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 61px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 68px 0 51px 0; }
    .main .main_reviews .main_reviews_cont .main_reviews_slider {
      max-width: 309px; }
      .main .main_reviews .main_reviews_cont .main_reviews_slider > img {
        border-radius: 39.6484px;
        margin-bottom: 25px; }
      .main .main_reviews .main_reviews_cont .main_reviews_slider .main_reviews_slider_arrow {
        max-width: 125px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto; }
        .main .main_reviews .main_reviews_cont .main_reviews_slider .main_reviews_slider_arrow > img {
          padding: 15px 20px;
          border-radius: 50%;
          background-color: #2BE3A0; }
    .main .main_reviews .main_reviews_cont .main_reviews_content {
      max-width: 443px;
      padding-top: 38px; }
      .main .main_reviews .main_reviews_cont .main_reviews_content p:nth-of-type(1) {
        margin-bottom: 35px;
        font-family: "RF Dewi";
        font-weight: 600;
        font-size: 16px;
        line-height: 131%; }
      .main .main_reviews .main_reviews_cont .main_reviews_content p:nth-of-type(2) {
        margin-bottom: 7px;
        font-family: "RF Dewi Expanded";
        font-weight: 700;
        font-size: 18.125px;
        line-height: 22px; }
      .main .main_reviews .main_reviews_cont .main_reviews_content p:nth-of-type(3) {
        font-family: "RF Dewi";
        font-weight: 600;
        font-size: 18.125px;
        line-height: 22px;
        opacity: 0.5; }
.main .main_call {
  background-image: url("../image/main/main_call/main_call.png");
  background-color: #404040;
  padding-bottom: 107px; }
  .main .main_call > h2 {
    font-family: "RF Dewi Expanded";
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    padding: 85px 175px 42px 80px; }
  .main .main_call .main_call_fl {
    display: flex;
    column-gap: 113px; }
    .main .main_call .main_call_fl > .main_call_left {
      max-width: 617px; }
      .main .main_call .main_call_fl > .main_call_left img {
        object-fit: cover;
        width: 100%; }
    .main .main_call .main_call_fl .main_call_right {
      color: #fff;
      padding-top: 33px; }
      .main .main_call .main_call_fl .main_call_right > div {
        display: flex;
        column-gap: 33px;
        align-items: center;
        margin-bottom: 20px; }
      .main .main_call .main_call_fl .main_call_right > div:nth-of-type(3) {
        margin-bottom: 44px; }
      .main .main_call .main_call_fl .main_call_right > div:nth-of-type(4) {
        display: flex;
        column-gap: 27px;
        align-items: center; }
      .main .main_call .main_call_fl .main_call_right > div > span {
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background-color: #3BE893; }
      .main .main_call .main_call_fl .main_call_right > div:nth-of-type(1) > p {
        max-width: 258px; }
      .main .main_call .main_call_fl .main_call_right > div:nth-of-type(2) > p {
        max-width: 265px; }
      .main .main_call .main_call_fl .main_call_right > div:nth-of-type(3) > p {
        max-width: 350px; }
      .main .main_call .main_call_fl .main_call_right > div > p {
        font-family: "RF Dewi";
        font-weight: 600;
        font-size: 16px;
        line-height: 19px; }
.main .main_join {
  background-image: url("../image/main/main_join/join.jpg");
  padding: 86px 0 50px 0;
  font-family: "RF Dewi Expanded";
  color: #fff; }
  .main .main_join .main_join_container {
    max-width: 1159px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px 0 15px; }
  .main .main_join .main_join_left > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    max-width: 736px;
    margin-bottom: 20px; }
  .main .main_join .main_join_left > p {
    font-family: "RF Dewi";
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6; }
  .main .main_join .main_join_right {
    max-width: 343px; }
    .main .main_join .main_join_right > input {
      width: 34ch;
      display: inline-block;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(2px);
      padding: 15px 0 16px 34px;
      margin-bottom: 18px; }
    .main .main_join .main_join_right > input[type="text"], .main .main_join .main_join_right input[type="tel"] {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.6; }
    .main .main_join .main_join_right > button {
      width: 100%;
      display: inline-block;
      padding: 15px 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000; }
.main .main_we_are_working {
  background-image: url("../image/main/we_are_working/map.png"), linear-gradient(180deg, rgba(30, 30, 30, 0.99) 0%, #000000 100%);
  padding-top: 105px;
  color: #fff; }
  .main .main_we_are_working > h2 {
    font-family: "RF Dewi Expanded";
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    padding-bottom: 40px; }
  .main .main_we_are_working .main_we_are_working_map {
    position: relative;
    background-image: url("../image/main/we_are_working/map_city.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 500px;
    max-width: 1450px;
    width: 100%; }
    .main .main_we_are_working .main_we_are_working_map > img {
      width: 51px;
      height: 65px; }
    .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(1) {
      position: absolute;
      top: 43%;
      left: 9%; }
    .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(2) {
      position: absolute;
      top: 64%;
      left: 29%; }
    .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(3) {
      position: absolute;
      top: 50%;
      left: 66%; }
    .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(4) {
      position: absolute;
      top: 20%;
      left: 88%; }
  .main .main_we_are_working .main_are_working_contact {
    font-family: "RF Dewi Expanded";
    padding-top: 52px;
    padding-bottom: 82px; }
    .main .main_we_are_working .main_are_working_contact a {
      color: #fff; }
    .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container {
      max-width: 1232px;
      padding-left: 25px;
      padding-right: 25px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: minmax(min-content, max-content) minmax(min-content, 569px) minmax(min-content, auto);
      grid-gap: 67px 55px;
      place-items: center start;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(4px); }
      .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container a {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px; }
      .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > h2 {
        font-weight: 700;
        font-size: 45px;
        line-height: 54px; }
      .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > p {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.4;
        place-self: center center; }
      .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > img {
        border-radius: 50%;
        width: 54px;
        height: 54px;
        background-color: #fff;
        place-self: center center; }
      .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > div.div > a {
        padding-bottom: 8px; }
      .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > div.div > p {
        font-family: "RF Dewi";
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.4; }

.footer {
  background-color: #1E1E1E;
  font-family: "RF Dewi";
  color: #fff;
  padding-top: 46px;
  padding-bottom: 58px; }
  .footer .footer_container {
    max-width: 1240px;
    display: grid;
    grid-template-columns: minmax(min-content, auto) minmax(min-content, auto);
    grid-row-gap: 47px;
    align-items: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }
    .footer .footer_container .footer_nav {
      display: flex;
      column-gap: 30px; }
      .footer .footer_container .footer_nav a {
        font-weight: 600;
        font-size: 18.1289px;
        line-height: 129.19%;
        color: #fff; }
    .footer .footer_container .footer_logo {
      display: flex;
      column-gap: 17px;
      align-items: center;
      place-self: end; }
      .footer .footer_container .footer_logo > li:first-of-type > img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background-color: #fff; }
    .footer .footer_container .footer_media {
      max-width: 237px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer .footer_container .footer_media li:first-of-type p {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.4; }
      .footer .footer_container .footer_media li:last-of-type {
        display: flex;
        column-gap: 11px;
        align-items: center; }
        .footer .footer_container .footer_media li:last-of-type img:nth-of-type(2) {
          width: 21px;
          height: 21px; }
    .footer .footer_container .footer_politeca {
      max-width: 384px;
      display: flex;
      column-gap: 17px;
      place-self: end; }
      .footer .footer_container .footer_politeca p {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.4; }

@media screen and (max-width: 420px) {
  body._lock {
    overflow: hidden; }

  header.header {
    background-image: url("../image/media_header/media_header.png");
    padding-bottom: 110px; }
    header.header .header_menu._active {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9); }
    header.header .header_menu .header_container {
      padding: 23px 23px 19px 25px; }
      header.header .header_menu .header_container .logo {
        flex: 1 0 52%; }
        header.header .header_menu .header_container .logo > img:nth-of-type(1) {
          width: 20px;
          height: 27px;
          padding: 8px 11.52px; }
      header.header .header_menu .header_container .header_nav {
        display: none; }
      header.header .header_menu .header_container .header_nav._active {
        position: fixed;
        display: block;
        overflow: auto;
        padding: 100px 30px 30px 30px;
        left: 0;
        top: 0; }
        header.header .header_menu .header_container .header_nav._active > li {
          margin-bottom: 30px; }
      header.header .header_menu .header_container .menu_icon {
        position: relative;
        display: block;
        z-index: 5;
        width: 43px;
        height: 43px;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        backdrop-filter: blur(2px); }
      header.header .header_menu .header_container .menu_icon > span,
      header.header .header_menu .header_container .menu_icon > span::before,
      header.header .header_menu .header_container .menu_icon > span::after {
        position: absolute;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease 0s; }
      header.header .header_menu .header_container .menu_icon > span::before,
      header.header .header_menu .header_container .menu_icon > span::after {
        content: ''; }
      header.header .header_menu .header_container .menu_icon > span::before {
        top: -7px; }
      header.header .header_menu .header_container .menu_icon > span::after {
        bottom: -7px; }
      header.header .header_menu .header_container .menu_icon > span {
        top: 50%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%); }
      header.header .header_menu .header_container .menu_icon span._active {
        transform: scale(1) translate(-100%, -50%);
        background-color: transparent; }
      header.header .header_menu .header_container .menu_icon > span._active::before {
        top: 50%;
        left: 50%;
        transform: rotate(-45deg) translate(0, -50%); }
      header.header .header_menu .header_container .menu_icon > span._active::after {
        bottom: 50%;
        left: 50%;
        transform: rotate(45deg) translate(0, 50%); }
      header.header .header_menu .header_container .header_bit {
        display: none; }
    header.header .header_content {
      padding-top: 155px; }
      header.header .header_content .header_content_title {
        font-size: 25px;
        line-height: 129.19%;
        margin-bottom: 24px; }
      header.header .header_content .header_content_cleo {
        font-size: 16px;
        margin-bottom: 36px; }
      header.header .header_content .header_content_bit {
        display: grid; }
        header.header .header_content .header_content_bit > button {
          max-width: 176px;
          font-size: 13px;
          line-height: 16px;
          padding: 13px 16px 14px 12px;
          place-self: center; }
        header.header .header_content .header_content_bit > p {
          display: none; }
        header.header .header_content .header_content_bit > a {
          display: block;
          place-self: end; }

  .main .main_about_us {
    padding-bottom: 110px; }
    .main .main_about_us .about_us {
      flex-direction: column-reverse;
      margin-bottom: 110px; }
  .main .about_us_left {
    max-width: 507px; }
    .main .about_us_left img {
      width: 100%; }
  .main .about_us_right {
    margin-bottom: 40px; }
    .main .about_us_right h2 {
      font-size: 30px;
      line-height: 100%;
      margin-bottom: 19px;
      text-align: center; }
    .main .about_us_right p:nth-of-type(1) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 19px; }
      .main .about_us_right p:nth-of-type(1) > br:nth-of-type(3) {
        display: none; }
      .main .about_us_right p:nth-of-type(1) > br:nth-of-type(4) {
        display: none; }
    .main .about_us_right p:nth-of-type(2) {
      font-size: 16px; }
  .main .main_about_us_plus {
    flex-direction: column; }
  .main .main_about_us_plus_left {
    margin-bottom: 56px; }
    .main .main_about_us_plus_left .main_about_us_plus_left_title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px; }
    .main .main_about_us_plus_left > div {
      display: flex;
      column-gap: 14px;
      align-items: center; }
      .main .main_about_us_plus_left > div > div {
        width: 9px;
        height: 9px; }
      .main .main_about_us_plus_left > div > p {
        font-size: 16px;
        line-height: 20px; }
    .main .main_about_us_plus_left > div:nth-of-type(1) {
      margin-bottom: 20px; }
    .main .main_about_us_plus_left > div:nth-of-type(2) {
      margin-bottom: 20px; }
    .main .main_about_us_plus_left > div:nth-of-type(3) {
      margin-bottom: 35px; }
    .main .main_about_us_plus_left .main_about_us_plus_left_consult > button {
      font-size: 12px;
      width: 44%; }
    .main .main_about_us_plus_left .main_about_us_plus_left_consult > a {
      display: none; }
  .main .main_about_us_plus_right > img {
    width: 100%; }
  .main .main_our_advantages {
    padding-top: 66px;
    padding-bottom: 0; }
    .main .main_our_advantages .main_our_advantages_block {
      max-width: 1023px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_block_title {
        font-size: 30px;
        padding-top: 0; }
      .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 36px 24px;
        padding: 54px 19px 44px 19px; }
        .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont .main_our_advantages_cont_card {
          max-width: 236px; }
          .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont .main_our_advantages_cont_card > img {
            margin: 0 auto;
            display: block;
            border-radius: 12px; }
          .main .main_our_advantages .main_our_advantages_block .main_our_advantages_cont .main_our_advantages_cont_card > p {
            font-family: "RF Dewi";
            font-weight: 600;
            font-size: 14px;
            line-height: 157.4%;
            text-align: center;
            padding-top: 18px; }
  .main .main_reviews {
    padding-top: 68px;
    padding-bottom: 85px; }
    .main .main_reviews .main_reviews_title {
      font-size: 30px;
      line-height: 36px;
      padding: 0 0 56px 0; }
    .main .main_reviews .main_reviews_cont {
      border-radius: 30px;
      display: grid;
      padding: 22px 19px 0 19px;
      grid-template-areas: "AAAA BBBB BBBB\a                             BBBB BBBB BBBB"; }
      .main .main_reviews .main_reviews_cont .main_reviews_slider {
        max-width: 110px;
        grid-area: A; }
        .main .main_reviews .main_reviews_cont .main_reviews_slider > img {
          border-radius: 39.6484px;
          margin-bottom: 25px;
          max-width: 110px; }
        .main .main_reviews .main_reviews_cont .main_reviews_slider .main_reviews_slider_arrow {
          display: none; }
      .main .main_reviews .main_reviews_cont .main_reviews_content {
        display: grid;
        grid-area: B;
        max-width: 443px;
        padding-top: 36px; }
        .main .main_reviews .main_reviews_cont .main_reviews_content p:nth-of-type(1) {
          order: 3;
          font-size: 13px;
          line-height: 131%; }
        .main .main_reviews .main_reviews_cont .main_reviews_content p:nth-of-type(2) {
          font-size: 16px;
          line-height: 19px;
          place-self: end; }
        .main .main_reviews .main_reviews_cont .main_reviews_content p:nth-of-type(3) {
          font-size: 13px;
          line-height: 16px;
          padding-right: 35px;
          padding-bottom: 55px;
          place-self: end; }
  .main .main_call {
    background-image: url("../image/main/main_call/main_call.png");
    background-color: #404040;
    padding: 65px 0 80px; }
    .main .main_call > h2 {
      font-size: 30px;
      line-height: 36px;
      padding: 0 25px 42px; }
    .main .main_call .main_call_fl {
      display: flex;
      column-gap: 0;
      flex-direction: column-reverse; }
      .main .main_call .main_call_fl > .main_call_left {
        max-width: 617px;
        margin: 0 auto; }
        .main .main_call .main_call_fl > .main_call_left img {
          max-width: 328px;
          width: 100%; }
      .main .main_call .main_call_fl .main_call_right {
        padding: 33px 26px 0; }
        .main .main_call .main_call_fl .main_call_right > div {
          column-gap: 25px;
          margin-bottom: 22px; }
        .main .main_call .main_call_fl .main_call_right > div:nth-of-type(3) {
          margin-bottom: 44px; }
        .main .main_call .main_call_fl .main_call_right > div:nth-of-type(4) {
          column-gap: 10px;
          justify-content: space-around; }
          .main .main_call .main_call_fl .main_call_right > div:nth-of-type(4) > img {
            max-width: 186px; }
        .main .main_call .main_call_fl .main_call_right > div > span {
          height: 19px;
          width: 19px;
          border-radius: 50%;
          background-color: #3BE893; }
        .main .main_call .main_call_fl .main_call_right > div:nth-of-type(1) > p {
          max-width: 258px; }
        .main .main_call .main_call_fl .main_call_right > div:nth-of-type(2) > p {
          max-width: 265px; }
        .main .main_call .main_call_fl .main_call_right > div:nth-of-type(3) > p {
          max-width: 242px; }
        .main .main_call .main_call_fl .main_call_right > div > p {
          font-family: "RF Dewi";
          font-weight: 600;
          font-size: 16px;
          line-height: 19px; }
  .main .main_join {
    background-image: url("../image/media_header/media_header.png");
    padding: 86px 0 73px; }
    .main .main_join .main_join_container {
      flex-direction: column;
      padding: 0 15px; }
    .main .main_join .main_join_left {
      margin: 0 auto;
      padding-bottom: 44px; }
      .main .main_join .main_join_left > h2 {
        max-width: 298px;
        font-size: 20px;
        line-height: 24px; }
      .main .main_join .main_join_left > p {
        font-size: 16px;
        line-height: 19px; }
    .main .main_join .main_join_right {
      max-width: 343px;
      margin: 0 auto; }
      .main .main_join .main_join_right > input {
        max-width: 288px;
        padding: 14px 0 15px 34px; }
      .main .main_join .main_join_right > input[type="text"],
      .main .main_join .main_join_right input[type="tel"] {
        max-width: 288px; }
      .main .main_join .main_join_right > button {
        max-width: 326px;
        width: 100%;
        padding: 14px 0; }
  .main .main_we_are_working {
    padding-top: 52px;
    padding-bottom: 82px; }
    .main .main_we_are_working > h2 {
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 13px; }
    .main .main_we_are_working .main_we_are_working_map {
      position: relative;
      height: 100vh;
      width: 100%;
      max-width: 420px;
      max-height: 320px;
      background-image: url("../image/media_header/media_map.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      .main .main_we_are_working .main_we_are_working_map > img {
        width: 30px;
        height: 36px; }
      .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(1) {
        top: 41%;
        left: 15%; }
      .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(2) {
        top: 62%;
        left: 32%; }
      .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(3) {
        top: 49%;
        left: 64%; }
      .main .main_we_are_working .main_we_are_working_map > img:nth-of-type(4) {
        top: 20%;
        left: 84%; }
    .main .main_we_are_working .main_are_working_contact {
      font-family: "RF Dewi Expanded";
      padding-top: 48px;
      padding-bottom: 0; }
      .main .main_we_are_working .main_are_working_contact a {
        color: #fff; }
      .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container {
        padding-left: 25px;
        padding-right: 25px;
        grid-template-columns: none;
        grid-gap: 0 0; }
        .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container a {
          padding-bottom: 37px; }
        .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container a:last-of-type {
          padding-bottom: 0; }
        .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > h2 {
          font-size: 30px;
          line-height: 36px;
          padding-bottom: 11px; }
        .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > p {
          padding-bottom: 74px; }
        .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > img {
          display: none; }
        .main .main_we_are_working .main_are_working_contact .main_are_working_contact_container > div.div {
          padding-bottom: 37px; }

  .footer {
    padding-top: 36px;
    padding-bottom: 76px; }
    .footer .footer_container {
      grid-template-columns: none;
      grid-row-gap: 30px;
      align-items: center;
      padding-left: 25px;
      padding-right: 25px; }
      .footer .footer_container .footer_nav {
        display: none; }
        .footer .footer_container .footer_nav a {
          font-weight: 600;
          font-size: 18.1289px;
          line-height: 129.19%;
          color: #fff; }
      .footer .footer_container .footer_logo {
        place-self: start; }
        .footer .footer_container .footer_logo > li:first-of-type > img {
          height: 32.15px;
          width: 23.57px;
          padding: 9px 13px; }
        .footer .footer_container .footer_logo > li:last-of-type > img {
          max-width: 136px; }
      .footer .footer_container .footer_media {
        order: 3; }
        .footer .footer_container .footer_media li:first-of-type p {
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          opacity: 0.4; }
        .footer .footer_container .footer_media li:last-of-type {
          display: flex;
          column-gap: 11px;
          align-items: center; }
          .footer .footer_container .footer_media li:last-of-type img:nth-of-type(2) {
            width: 21px;
            height: 21px; }
      .footer .footer_container .footer_politeca {
        max-width: 264px;
        display: flex;
        flex-direction: column;
        column-gap: 17px;
        place-self: start; }
        .footer .footer_container .footer_politeca p {
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          opacity: 0.4; } }

/*# sourceMappingURL=style.css.map */
