$fontRF: 'RF Dewi Expanded';
$fontDewi: 'RF Dewi';
@import 'font/stylesheet.css';
html , body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header.header {
  // position: sticky;
  // display: block;
  // height: auto;
  background-image: url('../image/header/header.png');
  padding-bottom: 205px;

  .header_menu {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 100;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);


    .header_container {
      padding: 26px 15px 20px 15px;
      margin: 0 auto;
      max-width: 1153px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: #fff;
      }

      .logo {
        &>img:nth-of-type(1) {
          border: 1px solid #fff;
          border-radius: 50%;
          width: 66px;
          height: 66px;
          background-color: #fff;
        }
      }
      .header_nav {
        display: flex;
        align-items: center;
        column-gap: 30px;
        &>li>a {
          font-family: 'RF Dewi';
          font-style: normal;
          font-weight: 600;
          font-size: 18.1289px;
          line-height: 129.19%;
          text-align: center;
        }
      }
      .header_bit {
        font-family: 'RF Dewi';
        font-weight: 700;
        font-size: 18.1289px;
        line-height: 129.19%;
      }
    }
  }
  .header_content {
    max-width: 1347px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    // margin-top: 162px;
    padding-top: 265px;
    .header_content_title {
      font-family: 'RF Dewi Expanded';
      font-style: normal;
      font-weight: 700;
      font-size: 45.3221px;
      line-height: 129.19%;
      text-align: center;
      margin-bottom: 24px;
    }

    .header_content_cleo {
      font-family: 'RF Dewi';
      font-style: normal;
      font-weight: 600;
      font-size: 20.395px;
      line-height: 129.19%;
      text-align: center;
      margin-bottom: 36px;
    }

    .header_content_bit {
      max-width: 537px;
      display: flex;
      column-gap: 28px;
      align-items: center;
      margin: 0 auto;

      &>button {
        font-family: $fontRF;
        font-weight: 700;
        font-size: 18.1289px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        background-color: #fff;
        border: 1px solid #fff;
        padding: 18px 29px;
      }
      &>p {
        font-family: $fontRF;
        font-weight: 700;
        font-size: 18.1289px;
        line-height: 22px;
        text-align: center;
      }
    }
  }
}
.main {

  .main_about_us {
    background-image: url('../image/main/about_us/bacground.png');
    mix-blend-mode: difference;
    background-color: #404040;
    max-width: 1293px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    color: #fff;
    padding-top: 45px;
    font-family: $fontRF;
    padding-bottom: 116px;
    .about_us {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 139px;
    }
  }

  .about_us_left {
    max-width: 507px;
    img {
      object-fit: contain;
    }
  }

  .about_us_right {
    max-width: 565px;
    h2 {
      font-weight: 700;
      font-size: 45px;
      line-height: 129.19%;
    }
    p:nth-of-type(1) {
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      margin-right: 2px;
    }
    p:nth-of-type(2) {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      opacity: 0.6;
    }
  }
  .main_about_us_plus {
    display: flex;
    justify-content: space-between;
  }

  .main_about_us_plus_left {

    .main_about_us_plus_left_title {
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 36px;
    }
    &>div {
      display: flex;
      column-gap: 23px;
      align-items: center;

      &>div {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: #00BF63;
      }
      &>p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        opacity: 0.6;
        max-width: 379px;
      }
    }
    &>div:nth-of-type(1) {
      margin-bottom: 36px;
    }
    &>div:nth-of-type(2) {
      margin-bottom: 24px;
    }
    &>div:nth-of-type(3) {
      margin-bottom: 54px;
    }
    .main_about_us_plus_left_consult {
      &>button {
        font-weight: 700;
        font-size: 16px;
        line-height: 157.4%;
        text-align: center;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        padding: 13.5px 21px;
        border: 1px solid #fff;
        color: #fff;
      }
      &>a {
        font-weight: 700;
        font-size: 16px;
        line-height: 157.4%;
        color: #fff;
      }
    }
  }
  .main_about_us_plus_right {
    &>img {
      max-width: 694px;
    }
  }
  .main_our_advantages {
    background-image: url('../image/main/our_advantages/advantage.png');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #404040;
    mix-blend-mode: hard-light;
    // opacity: 0.35;
    font-family: $fontRF;
    color: #fff;
    padding-bottom: 105px;

    .main_our_advantages_block {
      max-width: 1023px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;

      .main_our_advantages_block_title {
        font-weight: 700;
        font-size: 45px;
        line-height: 129.19%;
        text-align: center;
      padding-top: 66px;
        margin-bottom: 25px;
      }
      .main_our_advantages_cont {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(6px);
        border-radius: 42px;
        padding: 54px 40px 44px 39px;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 44px 0;
        // justify-content: space-between;

        &>div:nth-of-type(2) {
          &>img {
            padding: 15px;
            background-color: #2BE3A0;
          }
        }
        &>div:nth-of-type(3) {
          &>img {
            padding: 14px;
            background-color: #2BE3A0;
          }
        }
        &>div:nth-of-type(4) {
          &>img {
            padding: 14px 17px;
            background-color: #FFBF44;
          }
        }
        &>div:nth-of-type(5) {
          max-width: 256px;
          &>img {
            padding: 14px;
            background-color: #FFBF44;
          }
        }
        &>div:nth-of-type(6) {

          &>img {
            padding: 14px;
            background-color: #FFBF44;
          }
        }

        .main_our_advantages_cont_card {
          max-width: 236px;
          &>img {
            margin: 0 auto;
            display: block;
            border-radius: 12px;
          }
          &>p {
            font-family: $fontDewi;
            font-weight: 600;
            font-size: 16px;
            line-height: 157.4%;
            text-align: center;
            padding-top: 18px;
          }
        }
      }
    }
  }
  .main_reviews {
    background-image: url('../image/main/reviews/image 263.png');
    mix-blend-mode: difference;
    background-color: #404040;
    color: #fff;
    padding-bottom: 138px;

    .main_reviews_title {
      font-family: $fontRF;
      font-weight: 700;
      font-size: 45px;
      line-height: 54px;
      text-align: center;
      padding: 102px 0 56px 0;
    }
    .main_reviews_cont {
      max-width: 1070px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(2px);
      border-radius: 61px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      padding: 68px 0 51px 0;

      .main_reviews_slider {
        max-width: 309px;
        &>img {
          border-radius: 39.6484px;
          margin-bottom: 25px;
        }
        .main_reviews_slider_arrow {
          max-width: 125px;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;

          &>img {
            padding: 15px 20px;
            border-radius: 50%;
            background-color: #2BE3A0;
          }
        }
      }
      .main_reviews_content {
        max-width: 443px;
        padding-top: 38px;

        p:nth-of-type(1) {
          margin-bottom: 35px;
          font-family: $fontDewi;
          font-weight: 600;
          font-size: 16px;
          line-height: 131%;
        }
        p:nth-of-type(2) {
          margin-bottom: 7px;
          font-family: $fontRF;
          font-weight: 700;
          font-size: 18.125px;
          line-height: 22px;
        }
        p:nth-of-type(3) {
          font-family: $fontDewi;
          font-weight: 600;
          font-size: 18.125px;
          line-height: 22px;
          opacity: 0.5;
        }
      }
    }

  }

  .main_call {
    background-image: url('../image/main/main_call/main_call.png');
    background-color: #404040;
    // padding: 85px 175px 107px 80px;
    padding-bottom: 107px;

    &>h2 {
      font-family: $fontRF;
      font-weight: 700;
      font-size: 45px;
      line-height: 54px;
      text-align: center;
      color: #FFFFFF;
      // padding-bottom: 42px;
      padding: 85px 175px 42px 80px;
    }

    .main_call_fl {
      display: flex;
      column-gap: 113px;

      &>.main_call_left {
        max-width: 617px;

        img {
          object-fit: cover;

          width: 100%;
        }
      }

      .main_call_right {
        color: #FFFFFF;
        padding-top: 33px;

        &>div {
          display: flex;
          column-gap: 33px;
          align-items: center;
          margin-bottom: 20px;
        }
        &>div:nth-of-type(3) {
          margin-bottom: 44px;
        }
        &>div:nth-of-type(4) {
          display: flex;
          column-gap: 27px;
          align-items: center;
        }
        &>div>span {
            height: 19px;
            width: 19px;
            border-radius: 50%;
            background-color: #3BE893;
        }
        &>div:nth-of-type(1)>p {
          max-width: 258px;
        }
        &>div:nth-of-type(2)>p {
          max-width: 265px;
        }
        &>div:nth-of-type(3)>p {
          max-width: 350px;
        }
        &>div>p {
            font-family: $fontDewi;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }
      }
    }
  }

  .main_join {
    background-image: url('../image/main/main_join/join.jpg');
    padding: 86px 0 50px 0;
    font-family: $fontRF;
    color: #fff;

    .main_join_container {
      max-width: 1159px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 15px 0 15px;
    }

    .main_join_left {
    &>h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      max-width: 736px;
      margin-bottom: 20px;
    }
    &>p {
      font-family: $fontDewi;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.6;
    }

    }

    .main_join_right {
      max-width: 343px;

      &>input {
        width: 34ch;
        display: inline-block;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        padding: 15px 0 16px 34px;
        margin-bottom: 18px;
      }
      &>input[type="text"],input[type="tel"] {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.6;
      }
      &>button {
        width: 100%;
        display: inline-block;
        padding: 15px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000;
      }
    }
  }
.main_we_are_working {
  background-image: url("../image/main/we_are_working/map.png"), linear-gradient(180deg, rgba(30, 30, 30, 0.76) 0%, #000000 100%);
  padding-top: 105px;
  color: #fff;

  &>h2 {
    font-family: $fontRF;
      font-weight: 700;
      font-size: 45px;
      line-height: 54px;
      text-align: center;
      padding-bottom: 40px;
  }

  .main_we_are_working_map {
    position: relative;

    &>img:nth-of-type(1) {
      max-width: 1450px;
      width: 100%;
    }
    &>img:nth-of-type(2) {
      position: absolute;
      width: 51px;
      height: 65px;
      top: 41%;
      left: 18%;
    }
    &>img:nth-of-type(3) {
      position: absolute;
      width: 51px;
      height: 65px;
      top: 60%;
      left: 32%;
    }
    &>img:nth-of-type(4) {
      position: absolute;
      width: 51px;
      height: 65px;
      top: 50%;
      left: 50%;
    }
    &>img:nth-of-type(5) {
      position: absolute;
      width: 51px;
      height: 65px;
      top: 20%;
      left: 84%;
    }
  }
  .main_we_are_working_contact {

    .main_we_are_working_contact_container {
      max-width: 1232px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}




}
